<% layout('layout/boilerplate') %> 
<h1>Admin Page</h1>

<form action="/admin" method="POST">
  <label for="username">Please enter the email that you want to delete? <label/> <br/>
  <input type="email" name="username" placeholder="Email"id="username">
  <button type="submit">Send</button>
</form>