<% layout('layout/boilerplate') %> 
<h3>به صفحه هدیه دادن خوش آمدید</h3>
<br/><br/>

<form action="/d " method="POST">

  <label for="amount"><h4>چه مبلغی می خواهید هدیه کنید؟ </h4>  <label/>
  <input type="number" name="amount" id="amount" placeholder="How much do u want to donate?"> <br/><br/>

  <label for="backeryId"><h2>هدیه شما به این کودک اهدا خواهد </h2>  <label/> <br>
  

   <%=kid.kidsname %> <br>

   <input type="text" name="kidId" id="kidId" value="<%=kid.id %>" style="display: none;" >
  
   
<br/>
   
  
  <input type="text" name="doneatorId" id="doneatorId" value="<%=currentUser.id  %>" style="display: none">
  

<br/><br/>

  <button type="submit">donate</button>
</form>