
<% layout('layout/boilerplate') %> 
  <h1> صفحه ورود یا ثبت نام </h1>

<container  class="d-flex justify-content-center" >
  <div class="text-center mr-5">
    <form  action="/login" method="POST" class="validated-form novalidate ">
      <div class="mb-3">
      <label class="form-label" for="username">Email</label><br>
      <input class="form-control" type="email" name="username" id="username" placeholder="email"required>      
    </div>

    <div class="mb-3">
      <label class="form-label" for="password">Password</label><br>
      <input class="form-control" type="password" name="password" id="password" required>
    </div>

    <button type="submit" class="btn-success">LOG IN</button> <br/><br/>
    <a href="/forgetpass">رمز عبور را فراموش کرده اید؟</a>
    </form>
  </div>

  <br/>
  <div display=flex, class="ml-5 pl-5" "mt=15"><br/>
    <h3 >آیا حساب ندارید؟</h3> <br>
   <h3> <a class="nav-link" href='/Register'>حساب بسازید</a></h3>
  </div>
</container>