<% layout('layout/boilerplate') %> 

<h4> <%= newUser.name %> درود  <br/> بسیار خوش آمدید! شما با این ای میل ثبت نام کرده اید</h4> <br/> 
<h1><%=newUser.username  %></h1>
<br/> <h4>اگر صحیح نیست ?  <a href="http:/Register">با ایمیل صحیح ثبت نام کنید</a>  </h4> 
 <br/> <h4> اگر این ایمل صحیح است لطفا وارد ایمیل خود شوید
  شما یک ایمیل از <br/>( Backery Help)<br/> دریافت کرده اید شاید ایمیل را در اسپم ها ببنید لطفا آنرا ,<br/> unspam <br/>  نموده و حساب خود را فعال نمایید<br/> صفحه ورود <a href="http:/login">Log In</a> </h4> <br/>

