<% layout('layout/boilerplate') %> 


<h4> :شما این ایمیل را وارد نمودید</h4> <br/>
<h2><%= worngUser  %></h2> 
<h4>یا ایمیل در سایت ثبت نشده یا رمز عبور را اشتباه وارد کردید</h4> <br/>
<h4>اگر ایمیل را اشتباه وارد کرده اید لطفا ایمل صحیح را وارد کنید </h4> <br/>
<h4> <a href="http:/Register"> اگر ثبت نام نکرده اید لطفا ثبت نام کنید</a>  </h4> <br/>
<h4> <a href="/forgetpass">آیا رمز عبور خود را فراموش کرده اید؟</a> </h4>
